
<h1>Stupid Coaching</h1>

<div class="user">
<p> &nbsp;&nbsp;<%= @user_input %> </p>
<p> &nbsp;&nbsp;&nbsp;-You</p>
</div>


<div class="coach">
  <h3> &nbsp;&nbsp;<%= @coach_answer %> </h3>
  <p>&nbsp;&nbsp;&nbsp;-Your coach </p>
</div>

<br>
<br>
<p><%= link_to "Ask Another Question", ask_path %></p>
