// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: 'Roboto', sans-serif;
}

.coach{
  background-color: seashell;
  border-left: 8px solid #C8C9C4;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user{
  border-left: 8px solid #C8C9C4;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;

}
